<div>
  <!-- Botao para abrir o modal  -->
  <button
    type="button"
    class="btn btn-primary mt-4"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
  </svg>
    Adicionar Curso
  </button>
  <!-- campo de filtro -->

  <div class="row">
    <!-- filtro por Descrição -->
    <div class="col-md-6">
      <div class="input-group mt-3 mb-3 col-md-6">
        <input
          class="form-control"
          type="search"
          placeholder="Busca"
          aria-label="Search"
          [(ngModel)]="filtroListaDescricao"
        />
      </div>
    </div>
    <!-- filtro por data  -->
    <div class="col-md-6 mt-3 mb-3" >
      <form [formGroup]="buscaForm">
       
        <div class="input-group input-daterange col-md-6">
          
          <input
            formControlName="dataInicialFiltro"
            type="date"
            class="form-control mt"
            [(ngModel)]="dataInicialFiltro"
          />
          <p class="m-2"> Até </p>
          <div class="input-group-addon"></div>
          <input
            type="date"
            class="form-control"
            [(ngModel)]="dataFinalFiltro"
            formControlName="dataFinalFiltro"
          />
          <button class="btn-sm btn-primary ms-2" (click)="filtroData()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
           
          </button>
          <button class="btn-sm btn-warning ms-2 " (click)="LimparFiltro()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2" viewBox="0 0 16 16">
            <path d="M14 3a.702.702 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225A.703.703 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2zM3.215 4.207l1.493 8.957a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836l1.493-8.957C11.69 4.689 9.954 5 8 5c-1.954 0-3.69-.311-4.785-.793z"/>
          </svg>
           
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Tabela exibição cursos -->
  <div style="overflow: auto;">
  <table class="table mt-4  table-hover">
    <thead>
      <th scope="col">#</th>
      <th scope="col">Descrição</th>
      <th scope="col">Categoria</th>
      <th scope="col">Quantidade Participantes</th>
      <th scope="col">Data Inicio</th>
      <th scope="col">Data Final</th>
     
    </thead>
    <tbody >
      <tr *ngFor="let item of cursosFiltrados; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ item.cursoDescricao }}</td>
        <td>{{ item.categoria.categoriaNome }}</td>
        <td *ngIf="item.cursoQuantidadeAlunos < 1">Não Informado</td>
        <td *ngIf="item.cursoQuantidadeAlunos > 0">
          {{ item.cursoQuantidadeAlunos }}
        </td>
        <td>{{ item.cursoDataInicial | date: "dd/MM/yyyy" }}</td>
        <td>{{ item.cursoDataFinal | date: "dd/MM/yyyy" }}</td>
        <td>
          <button
            class="btn btn-warning"
            (click)="CarregarModalEditar(item)"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
          </svg>
            Editar
          </button>
          <button
            class="btn btn-danger ms-2"
            (click)="PegarIdExclusao(item.cursoId)"
            data-bs-toggle="modal"
            data-bs-target="#modalExclusao"
            [disabled]="item.cursoDataFinal < dataAtual"
          ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
          </svg>
            Apagar
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <td *ngIf="cursosFiltrados.length < 1">
        <h5 class="ms-3">Nenhum curso encontrado</h5>
      </td>
    </tfoot>
  </table>
</div>
  <button type="button" class="btn btn-primary mt-4" routerLink=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
  </svg>
    Voltar
  </button>
</div>

<!-- Modal Incluir ou Atualizar Curso-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ tituloModal }}</h5>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="cursoForm"
          (ngSubmit)="EnviarFormulario()"
          #FormCurso="ngForm"
        >
          <div class="mb-3">
            <label for="cursoDescricao" class="form-label"
              >Descrição do Curso*</label
            >
            <input
              type="email"
              class="form-control"
              formControlName="cursoDescricao"
              placeholder="Descrição"
              required
            />
            <div
              *ngIf="
                cursoForm.controls['cursoDescricao'].invalid &&
                cursoForm.controls['cursoDescricao'].touched
              "
            >
              <span class="alert"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-exclamation-octagon-fill me-1" viewBox="0 0 16 16">
                <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>A Descrição é Obrigatória e deve ter pelo menos 3 caracteres</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Data Inicio*</label>
            <input
              type="date"
              min="{{ dataAtual | date: 'yyyy-MM-dd' }}"
              id="dataInicial"
              class="form-control switch"
              formControlName="cursoDataInicial"
              placeholder="Data Inicial "
          
            />
            <div
              *ngIf="
                cursoForm.controls['cursoDataInicial'].invalid &&
                cursoForm.controls['cursoDataInicial'].touched
              "
            >
              <span class="alert"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-exclamation-octagon-fill me-1" viewBox="0 0 16 16">
                <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>A Data Inicial é Obrigatória</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Data Final*</label>
            <input
              type="date"
              min="{{ dataAtual | date: 'yyyy-MM-dd' }}"
              class="form-control"
              formControlName="cursoDataFinal"
              placeholder="Data Final"
            />
            <div
              *ngIf="
                cursoForm.controls['cursoDataFinal'].invalid &&
                cursoForm.controls['cursoDataFinal'].touched
              "
            >
              <span class="alert"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-exclamation-octagon-fill me-1" viewBox="0 0 16 16">
                <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>A Data Final é Obrigatória</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Quantidade de Alunos</label>
            <input
              type="number"
              class="form-control"
              formControlName="cursoQuantidadeAlunos"
              placeholder="Opcional"
              min="0"
            />
            <div
              *ngIf="
                cursoForm.controls['cursoQuantidadeAlunos'].invalid
              "
            >
              <span class="alert"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-exclamation-octagon-fill me-1" viewBox="0 0 16 16">
                <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>Não é permitido números negativos</span>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Categoria*</label>
            <select class="form-select" formControlName="categoriaId">
              <option
                *ngFor="let item of categorias"
                [value]="item.categoriaId"
              >
                {{ item.categoriaNome }}
              </option>
            </select>
            <div
              *ngIf="
                cursoForm.controls['categoriaId'].invalid &&
                cursoForm.controls['categoriaId'].touched
              "
            >
              <span class="alert"><svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-exclamation-octagon-fill me-1" viewBox="0 0 16 16">
                <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>A Categoria é Obrigatória</span>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="LimparFormulario()"
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
              Voltar
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              data-bs-dismiss="modal"
              [disabled]="cursoForm.invalid"
            >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
            </svg>
              {{nomeBotaoModal}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Confirmar Exclusão Curso-->
<div class="modal fade" tabindex="-1" id="modalExclusao">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Exclusão</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja excluir</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="LimparFormulario()"
        >
          Não
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="ExcluirCurso(idExcluir)"
          data-bs-dismiss="modal"
        >
          Excluir
        </button>
      </div>
    </div>
  </div>
</div>
